<!DOCTYPE html>
<html lan= "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= heading %></h1>
        <a href="http://ejs.co/">
        Enbedded JavaScript (EJS)
        </a>
        <div><%= text %></div>
        <ul>
            <% projects.forEach(function(projects) { %>
                <li><%= projects.id %>: <%= projects.name %>: <%= projects.slug %>: <%= projects.description %><li>
                    <% }); %>
        </ul>
    </body>
</html>